table {
  font-size: 1rem;
  th {
    font-size: 1.2rem;
    text-align: center;
  }
}

.dark-mode {
  h1,
  h2,
  h3,
  h4,
  th,
  strong,
  blockquote {
    --text-opacity: 1;
    color: #f7fafc;
    color: rgba(247, 250, 252, var(--text-opacity));
  }
}
